body {
    background: #f2f2f2;
    color: #333;
    font-size: 12px;
}

header {
    width: 990px;
    padding: 10px auto;
    margin: 0 auto;
}

.line {
    border-left: 1px solid #ccc;
}

#content {
    background: #e8e8e8;
    width: 860px;
    padding: 5px;
    margin: 60px auto;
    border-radius: 3px;
}

#content_table {
    border: 1px solid #e1e1e1;
    background: #fff;
    width: 100%;
    color: #999;
}

.box {
    width: 282px;
    height: 24px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 7px;
    padding: 4px 20px 4px 3px;
}

.user {
    background: url("images/user.png") no-repeat right center;
}

.password {
    background: url("images/pwd.png") no-repeat right center;
}

.login_btn {
    width: 307px;
    height: 34px;
    background: url("images/login_all_bg.png") 0 -61px;
    border: none;
}

.login_btn:hover {
    background: url("images/login_all_bg.png") 0 -95px;
}
.register_btn{
    font-size:14px;
    color: white;
    width:115px;
    height:32px;
    border:none;
    background:#7cbe56;
}
.register_btn:hover{
    background:#98c964;
}