body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #fff;
    color: #404040;
}

header, section {
    width: 1190px;
    margin: 10px auto;
}

header {
    padding-top: 30px;
}

section {
    background: url("taobao_show.JPG") no-repeat 20% center;
}

/*µÇÂ¼¿ò*/
#login_box {
    width: 310px;
    margin: 60px 0 48px 720px;
    border: 2px solid #dedede;
    border-top: 2px solid #ff4200;
    padding-left: 40px;
    padding-bottom: 30px;
    background: url("login_box_icon.png") no-repeat right top;
}

/*ÊäÈë¿ò*/
div.info_username, div.info_password {
    padding-left: 20px;
    margin-top: 20px;
    color: #666;
    background-color: #ccc;
    width: 233px;
}

div.info_username {
    background: #ccc url("user.png") no-repeat 5px center;
}

div.info_password {
    background: #ccc url("pwd.png") no-repeat 5px center;
}

div.info_username input, div.info_password input {
    width: 220px;
    height: 19px;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid #dedede;
}

/*µÇÂ¼°´Å¥*/
input.btn_login {
    width: 255px;
    height: 38px;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #ff4700;
    border-radius: 3px;
    margin-top: 15px;
}

input.btn_login:hover {
    background: #f73500;
}

/*Á´½Ó*/
div.other_login {
    margin-top: 20px;
}

a.weibo, a.pay {
    padding: 5px 5px 5px 20px;
    background: url("icons.png") no-repeat 0 -209px;
    color: #6d6d6d;
}

a.pay {
    background: url("icons.png") no-repeat 0 -140px;
}

a.register {
    margin-left: 30px;
    color: #6d6d6d;
}

a.weibo:hover, a.pay:hover, a.register:hover {
    color: #ff4200;
}