body{
    margin:0 auto;
    padding: 0;
    border:0;
    background-color: #fff;
    color:#404040;
}
header,section{
    width:1190px;
    margin:10px auto;
}
header{
    padding-top: 30px;
}
section{
    height:800px;
    background:url("taobao_show.JPG") no-repeat top;
}
#login_box{
    width:295px;
    border:1px solid #dedede;
    border-top: #ff4200;
}